// COLORS
$color-primary: #009FD1;
$color-primary-dark: #074183;

$color-secondary: #FF8D27;

$color-grey-dark: #333;

$color-grey-light: #666;
$color-grey-light-2:#f1f1f1;
$color-white-bg:#f7f7f7;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

$default-font: 'MavenPro-Regular', sans-serif;
$heading-font-bold: 'MavenPro-SemiBold', sans-serif;
$heading-font-medium: 'MavenPro-Medium', sans-serif;

$quotation-font: 'AeroRegularSWFTE', san-serif;

// GUTTER
$gutterX: 2rem;
$gutterY: 8rem;