.btn {
    &:focus {
        box-shadow: none;
    }
    &__main {
        font-size: 1.6rem;
        font-family: $heading-font-medium;
        color: $color-primary !important;
        padding: 1.3rem 0.9rem;
        background-color: $color-white;
        transition: 0.2s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 3px;
        }
        &--arrow{
            fill: currentColor;
            height: 1.4rem;
            width: 2.2rem;
        }
        &:hover {
            color: $color-white !important;
            background-color: transparent;
        }
        &-mobile {
            background-color: $color-primary !important;
            color: $color-white !important;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__primary {
        font-size: 1.8rem;
        font-family: $default-font;
        color: $color-grey-dark !important;
        padding: 1.3rem 3rem;
        background-color: $color-white;
        transition: 0.2s ease-in-out;
        &:hover {
            color: $color-primary !important;
        }
    }
    &__secondary {
        font-size: 2rem;
        font-family: $heading-font-medium;
        background-color: $color-secondary;
        color: $color-white;
        padding: 1rem 1.4rem;
        border: 1px solid $color-secondary;
        transition: 0.3s ease-in-out;
        text-transform: uppercase;
        &:hover {
            color: $color-white !important;
        }
    }
    &__link {
        font-family: $heading-font-medium;
        font-size: 1.6rem;
        color: $color-secondary !important;
        span.icon {
            padding-left: 0.9rem;
            svg {
                fill: currentColor;
                height: 2rem;
                width: 2.3rem;
            }
        }
    }
}