*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: inherit;
    scroll-behavior: smooth;
}

body {
    position: relative;
    line-height: 1.7;
    font-size: 1.6rem;
    background-color: $color-white;
    color: $color-grey-light;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a:link,
a:visited {
    text-decoration: none;
    color: $color-white;
}

a:hover {
    text-decoration: none;
}

button:focus {
    box-shadow: none;
}