body {
    font-family: $default-font;
    line-height: 1.7;
    color: $color-grey-light;
}

.title{
    color: $color-grey-dark;
    font-family: $heading-font-bold;
    backface-visibility: hidden;
    line-height: 1.1;
    &--main {
        font-size: 6rem;
        color: $color-white;
        font-family: $default-font;
        @include media(680px) {
            font-size: 4.2rem;
        }
    }
    &--big {
        font-size: 4.8rem;
        color: $color-grey-dark;
        span {
            display: block;
            color: $color-secondary;
        }
        @include media(680px) {
            font-size: 3.2rem;
        }
    }
    &--small {
        font-size: 2.2rem;
        @include media(680px) {
            font-size: 2rem;
        }
    }

}

.paragraph-main {
    font-size: 2rem;
    font-family: $default-font;
    line-height: 36px;
    margin-bottom: 4rem;
}

.paragraph {
    font-size: $default-font-size;
    line-height: 36px;
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
  