    .container {
        max-width: 120rem;
        margin: 0 auto;
    }
    
    .text-center {
        text-align: center !important;
    }
    .text-white {
        color: $color-white !important;
    }
    .relative {
        position: relative !important;
    }
    .absolute {
        position: absolute;
    }
    .margin-bottom-small {
        margin-bottom: 1.5rem !important;
    }
    .margin-bottom-medium {
        margin-bottom: 4rem !important;
    }
    .margin-bottom-big {
        margin-bottom: 8rem !important;
    }
    .margin-top-medium {
        margin-top: 4rem !important;
    }
    .margin-top-big {
        margin-top: 8rem !important;
    }
    .margin-top-huge {
        margin-top: 10rem !important;
    }

    .gutterX {
        padding-left: $gutterX;
        padding-right: $gutterX;
    }

    .gutterY {
        padding-top: $gutterY;
        &__bottom {
            padding-bottom: $gutterY;
        }
    }

    .line-after {
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            right: -10rem;
            height: .5rem;
            background-color: $color-secondary;
            width: 7rem;

            @include media(380px) {
                display: none;
            }
        }
    }