    .text-center {
        text-align: center !important;
    }
    .text-white {
        color: $color-white !important;
    }
    .relative {
        position: relative !important;
    }
    .absolute {
        position: absolute;
    }
    .margin-bottom-small {
        margin-bottom: 1.5rem !important;
    }
    .margin-bottom-medium {
        margin-bottom: 4rem !important;
    }
    .margin-bottom-big {
        margin-bottom: 8rem !important;
    }
    .margin-top-medium {
        margin-top: 4rem !important;
    }
    .margin-top-big {
        margin-top: 8rem !important;
    }
    .margin-top-huge {
        margin-top: 10rem !important;
    }

    .gutterX {
        padding-left: $gutterX;
        padding-right: $gutterX;
    }

    .gutterY {
        padding-top: $gutterY;
        &__bottom {
            padding-bottom: $gutterY;
        }
    }

    .line-after {
        &::before {
            content: '';
            position: absolute;
            bottom: -10%;
            height: 2px;
            background-color: $color-secondary;
            width: 7rem;
        }
        &.center {
            &::before {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    .divider__line {
        max-width: 1220px;
        margin: 0 auto;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: calc(100% - 2rem);
            height: 1px;
            // box-shadow: 0px 0px 10px 2px rgba($color-grey-light,0.1);
            background-color: rgba($color-grey-dark,0.2);
        }
    }
  