.header {
    &__top {
        background-color: $color-secondary;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        ul {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            transition: .2s ease-in-out;

            @include media(600px) {
                flex-wrap: wrap;
                justify-content: center;
            }
            li {
               @include flexCenter();
               position: relative;
               &:not(:last-child) {
                   margin-right: 3rem;
                   &::before {
                        content: '';
                        position: absolute;
                        width: .2rem;
                        height: 100%;
                        right: -1.5rem;
                        background-color: $color-white-bg;
                   }
                }
                a {
                    @include flexCenter();
                    font-size: 1.6rem;
                    color: $color-white;
                    transition: .2s ease-in-out;
                    svg {
                        margin-right: .8rem;
                        path {
                            &:last-child {
                                fill: $color-white;
                                transition: .2s ease-in-out;
                            }
                        }
                    }
                    &:hover {
                        color: $color-grey-light;
                        svg {
                            path {
                                &:last-child {
                                    fill: $color-grey-light;
                                }
                            }
                        }
                    }
                    @include media(600px) {
                        span {
                            display: none;
                        }
                    }

                }
            }
        }
    }
    &__main {
        padding-top: 1rem;
        padding-bottom: 1rem;
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include media(319px) {
                flex-wrap: wrap;
            }
        }
        &__logo {
            width: 22rem;
            @include media(319px) {
                width: 18rem;
            }
        }
        .navigation {
            @include flexCenter();
            &__item {
                &:not(:last-child) {
                    margin-right: 2.2rem;
                }
                &.menu-trigger {
                    display: none;
                    position: relative;
                    margin-right: 0;
                    height: 2.4rem;
                    width: 3.8rem;
                    cursor: pointer;
                    z-index: 99;

                    #menu-trigger-icon {
                        span {
                            position: absolute;
                            left: 0;
                            width: 100%;
                            height: .4rem;
                            background-color: $color-grey-dark;
                            display: block;
                            transform: rotate(0deg);
                            transition: .2s ease-in-out;

                            &:nth-child(1) {
                                top: 0;
                            }

                            &:nth-child(2),
                            &:nth-child(3) {
                                top: 1rem;
                            }

                            &:nth-child(4) {
                                top: 2rem;
                            }

                        }
                    }
                }
                @include media(767px) {
                    display: none;
                    &.menu-trigger {
                        display: list-item;
                    }
                }
            }
            &__link {
                position: relative;
                color: $color-grey-dark;
                font-size: 1.6rem;
                font-family: $heading-font-medium;
                letter-spacing: .1rem;
                &::before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    bottom: -1rem;
                    transform: translateX(-50%);
                    width: .5rem;
                    height: .5rem;
                    border-radius: 100%;
                    background-color: $color-secondary;
                    opacity: 0;
                    visibility: hidden;
                    transition: .2s ease-in-out;
                }

                &:hover {
                    &::before {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }

    #mobile-menu {
        position: absolute;
        top: 12.1rem;
        right: 0;
        width: 0;
        height: calc(100vh - 12.1rem);
        background-color: rgba($color-white,1);
        z-index: 999;
        display: none;
        transition: .3s ease-out;

        @include media(600px) {
            top: 11.2rem;
            height: calc(100vh - 11.2rem);
        }
    
        ul {
            width: 100%;
            padding: 2rem 1.2rem;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            li {
                width: 100%;
                padding-top: 2rem;
                text-align: center;
                &:not(:last-child) {
                    padding-bottom: 2rem;
                }
                &.mobile-link {
                    border-bottom: .1rem solid rgba($color-grey-dark,0.7);
                }
                a {
                    color: $color-grey-dark;
                    font-family: $heading-font-medium;
                    &.btn.btn--primary {
                        color: $color-white;
                    }
                }
            }
        }
    }
}

body.menu-open {
    @media(max-width:767px) {
        overflow: hidden;
        .header {
            .navigation {
                &__item {
                    &.menu-trigger {
                        display: list-item;
                        #menu-trigger-icon {
                            span {
                                &:nth-child(1) {
                                    top: 1rem;
                                    width: 0;
                                    left: 50%;
                                }

                                &:nth-child(2) {
                                    transform: rotate(45deg);
                                }

                                &:nth-child(3) {
                                    transform: rotate(-45deg);
                                }
                                &:nth-child(4) {
                                    top: 1rem;
                                    width: 0;
                                    left: 50%;
                                }
                            }
                        }
                    }
                }
            }    
            #mobile-menu {
                display: block;
                width: 35rem;
            }  
        }
    }
}

.main {
    .hero {
        position: relative;
        width: 100%;
        .bx-wrapper {
            box-shadow: none;
            border: none;
            background: none;
            margin: 0;
            height: 58rem;
            .bx-viewport {
                height: 100%;
            }
            .bxslider {
                height:100%;
                overflow: hidden;
            }
    
            .slider-item {
                height: 100%;
                overflow: hidden;
                .slide-bg{
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    background-size: cover !important;
                    background-position: center !important;
                    z-index: 2;
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(to right, #009FD1 0%,rgba(0, 159, 209, 0.901) 0.01%,rgba(0, 159, 209, 0) 100%);
                    }
                }
            }
            .bx-pager{
               display: none;
               opacity: 0;
            }
        }
        .slider-content {
            position: absolute;
            top: 50%;
            left: 10%;
            transform: translateY(-50%);

            @include media(300px) {
                display: none;
            }
            
            .title.title--main {
                max-width: 70rem;
                margin-bottom: 2rem;
            }

            p.paragraph {
                max-width: 58rem;
                color: $color-white;
                font-size: 1.8rem;
                margin-bottom: 2rem;
            }
        }
    }
    .why-us,
    .offer {
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .content {
                max-width: 46%;
                &.content-item-1 {
                    margin-right: 4%;
                }
                &.content-item-2 {
                    margin-left: 4%;
                }
                ul {
                    list-style-type: disc;
                    padding-left: 2rem;
                    line-height: 32px;
                    font-size: 1.6rem;
                    display: flex;
                    flex-wrap: wrap;

                    li {
                        flex: 0 0 50%;
                        &:not(:last-child) {
                            padding-right: 2rem;
                        }
                        @include media(579px) {
                            flex: 0 0 100%;
                            &:not(:last-child) {
                                padding-right: .5rem;
                            }
                        }
                    }
                }
                .title.title--big {
                    width: fit-content;
                    margin-bottom: 4rem;
                }
                .title.title--small {
                    margin-top: 2.2rem;
                    margin-bottom: 1rem;
                }
               
            }

            @include media(991px) {
                flex-direction: column;
                .content {
                    max-width: 100%;
                    margin-bottom: 4rem;
                }
                img {
                    width: 100%;
                    &.image-2 {
                        margin-bottom: 4rem;
                        order: 2;
                    }
                }
            }
        }
    }
    .guide {
        background-image: url('../img/guide.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 5% 0;
        .content {
            @include flexCenter();

            .title.title--big {
                margin-right: 5rem;
                color: $color-white;
            }

            a.btn.btn--secondary {
               padding: .8rem 3.4rem;
            }
            @include media(580px) {
                flex-direction: column;
                max-width: 35rem;
                margin: 0 auto;
                text-align: center;
                .title.title--big {
                    margin-right: 0;
                    margin-bottom: 2rem;
                }
            }
        }
    }
    .map {
        .container {
            .title.title--big {
                width: fit-content;
                margin: 0 auto;
                margin-bottom: 4rem;
                span {
                    display: inline-block;
                }
                &::before {
                    @include media(520px) {
                        display: none;
                    }
                }
            }
        }
    }
}

.footer {
    background-color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .footer-logo {
        @include media(319px) {
            width: 18rem;
        }
    }
    @include media(680px) {
        padding: 2rem 0;
        flex-direction: column;
    }
    ul {
        padding: 0 2rem;
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .copyright {
            color: $color-white;
            font-size: 1.6rem;
            .company-name {
                font-size: 1.7rem;
                color: $color-secondary;
                font-family: $heading-font-bold;
            }
        }
        .contact-info {
            @include flexCenter();
            a {
                &:not(:last-child) {
                    margin-right: 2rem;
                }
                svg {
                    path {
                        transition: .2s ease-in-out;
                    }
                }
                &:hover {
                    svg {
                        path {
                            &:last-child {
                                fill: $color-secondary;
                            }
                        }
                    }
                }
            }
        }

        @include media(767px) {
            flex-direction: column;
            .copyright {
               margin-bottom: 2rem;
               text-align: center;
            }
        }

        @include media(680px) {
              margin-top: 2rem;
        }
    }
}
